img{
    position: relative;
    right: -200px;
   
}

body{
    background-color: lightslategrey;
    font-family: flegrei, sans-serif;
font-style: normal;
font-weight: 400;  
    
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  right: -1000px;
  font-family: flegrei, sans-serif;
font-style: normal;
font-weight: 400;  

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: flegrei, sans-serif;
font-style: normal;
font-weight: 400;  
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111; 
}


h1{
  font-family: flegrei, sans-serif;
  font-style: normal;
  font-weight: 400;  
    color: rgb(146, 37, 128);
    position: relative;
    right: -500px;
    
}

h2{
  position: relative;
  right: -500px;
  color: rgb(255, 255, 255);
  font-family: flegrei, sans-serif;
font-style: normal;
font-weight: 400;  
    
}
p{
  position: relative;
  right: -500px;
  color: rgb(255, 255, 255);
  font-family: flegrei, sans-serif;
font-style: normal;
font-weight: 400;  
}



@-webkit-keyframes rotate {
  0% {
      -webkit-transform:translate(100px, 100px) rotate(0deg) translate(-100px, -100px) rotate(0deg);
      background-color:red;
  }  
13% {
      -webkit-transform:translate(100px, 100px) rotate(45deg) translate(-100px, -100px) rotate(-45deg);
}
25% {
    -webkit-transform:translate(100px, 100px) rotate(90deg) translate(-100px, -100px) rotate(-90deg);
}
38% {
    -webkit-transform:translate(100px, 100px) rotate(135deg) translate(-100px, -100px) rotate(0deg);
}
50% {
    -webkit-transform:translate(100px, 100px) rotate(180deg) translate(-100px, -100px) rotate(-180deg);
}
63% {
    -webkit-transform:translate(100px, 100px) rotate(225deg) translate(-100px, -100px) rotate(225deg);
}
75% {
    -webkit-transform:translate(100px, 100px) rotate(270deg) translate(-100px, -100px) rotate(-270deg);
}
88% {
    -webkit-transform:translate(100px, 100px) rotate(315deg) translate(-100px, -100px) rotate(315deg);
}
  100% {
      -webkit-transform:translate(100px, 100px) rotate(360deg) translate(-100px, -100px) rotate(-360deg);
  }
}
#circle {
  height: 50px;
  width: 50px;
  border-radius:25px;
  background-color: teal;
  -webkit-animation-duration: 4s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name:"rotate";
  -webkit-animation-iteration-count: infinite;
  position:absolute;
  left:30%;
  top:20%; 
}
#button {
width:130px;
background:teal;
}


#tool{
  color: darkblue;
}

#bislak{
  position: relative;
  right: -500px;
  top: -200px;
  font-family: flegrei, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: lavender;
}



